body {
    background-color: #222;
    color: #ccc;
    text-align: center;
    font-size: 16px;
}

body a:hover {
    color: #6ba6ff;
}

body a:visited {
    color: #3946bd;
}

body a {
    color: #3c87f4;
    text-decoration: underline;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.table-row-borders td {
    border: 1px solid #666;
}

.htmx-indicator {
    display: none;
}

.htmx-request > .htmx-indicator {
    display: block;
}

.htmx-request > .htmx-hide-on-loading {
    display: none;
}

pre {
    margin: 0;
}
